@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
	0% {
		transform: translateX(100%);
	}
	50% {
		transform: translateX(0);
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.scroll-hidden::-webkit-scrollbar {
	display: none;
}

.scroll-hidden {
	-ms-overflow-style: none; /* For Internet Explorer */
	scrollbar-width: none; /* For Firefox */
}

.custom-gradient {
	background: rgb(31, 41, 55);
	background: linear-gradient(
		0deg,
		rgba(31, 41, 55, 1) 10%,
		rgba(31, 41, 55, 0) 100%
	);
}
